// @import "vars"

// /*==========  Desktop First  ==========*/

// ≥992px
+media-breakpoint-down(lg)
	// Section: About us
	.about-us
		&__title
			font-size: 24px
	// Section: Advantages
	.advantages
		padding-bottom: 75px

// ≥768px
+media-breakpoint-down(md)
	// Section: Advantages
	.advantages
		&__item
			padding: 30px 30px 0

// ≥576px
// +media-breakpoint-down(sm)
/* code */

// ≥0px
// +media-breakpoint-down(xs)
/* code */

// @media only screen and (max-width: 425px)
/* code */

// @media only screen and (max-width: 375px)
/* code */

// @media only screen and (max-width: 355px)
/* code */
