@import "vars"

// /*==========  Desktop First  ==========*/

// ≥992px
+media-breakpoint-down(lg)
	// Section: About us
	.about-us
		&__title
			font-size: 24px
	// Section: Advantages
	.advantages
		padding-bottom: 75px
	// Section: Steps
	.steps
		&__wrap
			margin-top: 75px
	// Section: Gallery
	.gallery
		&__item
			height: 200px
	// PAGE CATALOG CUSTOMIZE
	body.page-catalog
		.catalog
			&__meta
				padding: 20px



// ≥768px
+media-breakpoint-down(md)
	.section-title
		font-size: 40px
	// Section: Advantages
	.advantages
		&__item
			padding: 30px 30px 0
	// Section: About us
	.about-us
		&__wrap
			margin-top: 75px
		&__photo
			margin-bottom: 45px
			.photo
				&__image
					max-width: 100%
				&__body
					// bottom: 60px
		&__title
			span
				display: inline-block
	// Section: Services
	.services
		&:before
			top: -80px
			border-bottom-width: 80px
	// Section: Steps
	.steps
		&__title
			font-size: 16px
	// Section: Gallery
	.gallery
		&__item
			height: 150px
	// Section: CTA
	.cta
		&__title
			font-size: 46px
	// PAGE WEDDING CUSTOMIZE
	body.page-template-wedding
		// Section: Advantages
		.w-advantages
			&__title
				> span
					font-size: 40px
			&__item
				padding: 20px 25px
			&__text
				font-size: 16px
		// Section: Services
		.w-services
			&:before
				top: -80px
				border-bottom-width: 80px



// ≥576px
+media-breakpoint-down(sm)
	.section-title
		font-size: 34px
	// Mobile navigation
	.mobile-nav
		.nav
			&__list
				> li > a
					font-size: 26px
			&__social
				> li
					line-height: 1.25
					> a
						.icon
							margin-top: -4px
							font-size: 22px
						> span
							font-size: 18px
	// Header
	.header
		&__menu
			max-width: 26px
			&-title
				display: none
		&__callback
			position: relative
			.callback
				&__phone
					position: absolute
					top: 100%
					right: 0
					width: 100%
					min-width: 160px
					padding: 6px 10px
					border-radius: 3px
					box-shadow: 0 0 10px rgba(0,0,0, 0.1)
					background: $white
					transform: translateY(0)
					visibility: hidden
					opacity: 0
					transition: $trs-all
					> a
						display: block
						color: $text
						line-height: 1.75
	// Section: Heroes
	.heroes
		&__title
			font-size: 46px
			> span
				font-size: 40px
	// Section: Steps
	.steps
		&__wrap
			[class*="col"]:nth-child(2)
				.steps__item:after
					display: none
		&__item
			margin-bottom: 30px
	// Section: CTA
	.cta
		.container,
		&__body
			height: 350px
		&__title
			font-size: 38px
	// PAGE WEDDING CUSTOMIZE
	body.page-template-wedding
		// Section: Heroes
		.heroes
			&__descr
				font-size: 16px
		// Section: Services
		.w-services
			&__item
				padding: 30px 15px
		// Section: Gallery
		.w-gallery
			&__grid
				&-item
					width: 50%
					padding: 10px
	// PAGE CATALOG CUSTOMIZE
	body.page-catalog
		.catalog
			&__meta
				padding: 30px
			&__descr
				height: 100%
				min-height: auto



// ≥0px
+media-breakpoint-down(xs)
	.background-text
		color: #f1f1f1
	// Modal
	.modal
		&-title
			font-size: 20px
	// Mobile navigation
	.mobile-nav
		overflow-y: auto
		height: auto
		min-height: 100%
		padding: 50px 0
		align-items: flex-start
		.nav
			&__list
				text-align: center
			&__social
				margin-top: 45px
				text-align: center
	// Header
	.header
		height: 90px
		&__logo
			&-light,
			&-dark
				max-width: 130px
	// Section: Heroes
	.heroes
		&__suptitle
			font-size: 14px
		&__title
			font-size: 38px
			> span
				font-size: 32px
	// Main title
	.main-title
		font-size: 26px
	// Section: CTA
	.cta
		.container,
		&__body
			height: 300px
		&__title
			font-size: 30px
	// Footer
	.footer
		padding-bottom: 75px
		&__copyright
			margin-top: 15px
			font-size: 15px
			text-align: center
		&__social
			margin-bottom: 30px
			text-align: center
			> span
				display: block
				margin-right: 0
				margin-bottom: 5px
			> a
				margin-left: 0
	// PAGE WEDDING CUSTOMIZE
	body.page-template-wedding
		// Section: Advantages
		.w-advantages
			padding-top: 75px
			&__title
				text-align: center
			&__item
				height: auto
			&__number
				bottom: 10px
				font-size: 46px
		// Section: Gallery
		.w-gallery
			margin-top: 75px
			padding-bottom: 75px
		// Section: Partners
		.w-partners
	// PAGE 404 CUSTOMIZE
	body.error404
		.page-404
			&__title
				font-size: 24px
	// PAGE THANK YOU CUSTOMIZE
	body.page-template-thank-you
		.page-thanks
			&__title
				font-size: 26px

@media only screen and (max-width: 425px)
	// Modal
	.modal
		&-content
			padding: 30px
	.section-title
		font-size: 28px
	// Section: Advantages
	.advantages
		[class*="col-6"]
			flex-basis: 100%
			max-width: 100%
			margin-bottom: 30px
		&__item
			height: 100%
	// Section: Services
	.services
		margin-top: 0
		padding-bottom: 75px
		&:before
			top: -40px
			border-bottom-width: 40px
		.section-title
			// margin-top: 30px
		&__wrap
			margin-top: 50px
	// Section: Steps
	.steps
		margin-top: 75px
		margin-bottom: 30px
		&__wrap
			margin-top: 45px
	// Section: CTA
	.cta
		&__title
			font-size: 28px
	// PAGE WEDDING CUSTOMIZE
	body.page-template-wedding
		// Section: Advantages
		.w-advantages
			padding-bottom: 75px
		// Section: Services
		.w-services
			margin-top: 0
			padding-bottom: 75px
			&:before
				top: -40px
				border-bottom-width: 40px
			&__wrap
				margin-top: 30px
		// Section: Gallery
		.w-gallery
			&__grid
				&-item
					padding: 5px

@media only screen and (max-width: 375px)
	// Modal
	.modal
		&-title
			font-size: 18px
	.form
		&-button
			padding: 15px 30px
	// Section: Steps
	.steps
		&__item
			&:after
				top: 40px
				width: 50px
				margin-left: -15px
		&__icon
			.icon
				font-size: 45px
	// PAGE CATALOG CUSTOMIZE
	body.page-catalog
		.catalog
			&__meta
				padding: 20px


// @media only screen and (max-width: 355px)
/* code */


@media (orientation:landscape) and (max-height: 600px)
	// Mobile navigation
	.mobile-nav
		overflow-y: auto
		height: auto
		min-height: 100%
		padding: 50px 0
		align-items: flex-start
		.nav
			&__list
				text-align: center
			&__social
				margin-top: 45px
				text-align: center