// User variables:
$accent: #b28357
$light-accent: #e8c296
$text: #343434
$white: #fff
$border: #e8e8e8
$trsp: transparent
$secondary-font: 'Merriweather', serif
$trs-all: all 0.35s ease

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
