@import vars
@import fonts
@import libs

::placeholder
	color: #7c7c7c

::selection
	background-color: $light-accent
	color: #fff

input, textarea
	border-radius: 0
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	position: relative
	overflow-x: hidden
	min-width: 320px
	color: $text
	font-family: 'Raleway', sans-serif
	font-size: 16px
	line-height: 1.5
	&.modal-open
		.header
			margin-right: 17px
	a:link
		color: $text
		transition: $trs-all
	a:hover
		color: $accent
		text-decoration: none
	p
		font-weight: 400



// Import other styles
@import "other"

// Import blocks
@import "_blocks/header"
@import "_blocks/heroes"
@import "_blocks/about-us"
@import "_blocks/advantages"
@import "_blocks/services"
@import "_blocks/cta"
@import "_blocks/steps"
@import "_blocks/gallery"
@import "_blocks/footer"
@import "_blocks/mobile-nav"
@import "_blocks/callback-form"

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

// Media queries
@import "media"